{
    "server_ip": "127.0.0.1",
    "server_port": 8084,
    "path_video": "..\\content\\video",
    "path_present": "..\\content\\present",
    "path_birthday": "..\\content\\birthday",
    "file_birthday": "birthday.txt",
    "path_holiday": "..\\content\\holiday",
    "file_holiday": "holiday.txt",
    "path_text": "..\\content\\text",
    "path_images": "..\\content\\imgs",
    "config_update_interval": 10000,
    "matrix_enable": false,
    "side_changing": true,
    "cursor": "default",
    "header_text": "COMPANY NAME",
    "padding_left": "10px",
    "padding_right": "50px",
    "calendar_day_font_size": "105px",
    "calendar_text_font_size": "35px",
    "info_line_height": "80px",
    "info_line_changing_interval": 10000,
    "birthday_name_font_size": "30px",
    "birthday_text_font_size": "24px"
}